body, html {
    margin: 10;
    padding: 10;
    width: 400px; /* Define a largura do popup */
    height: 500px; /* Define a altura do popup */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 98%;
}

#summary {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    resize: none; /* Impede o redimensionamento do textarea */
    box-sizing: border-box;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-actions, .right-actions {
    display: flex;
    align-items: center;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
}

.image-button img {
    width: 24px;  /* Adjust size as needed */
    height: 24px;
}

#summarizeBtn, #explainBtn, #languageSelect {
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    width: min-content;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px; /* Adds some space between the "Copy" button and other controls */
}

.image-button img {
    width: 24px;  /* Adjust size as needed */
    height: 24px;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.image-button:active { /* This will trigger when the button is actively being clicked */
    animation: clickAnimation 0.2s ease;
}

